body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  margin: 0;
  padding: 40px;
  max-width: 800px;
  margin-inline: auto;
  color: #111;
  background: #fafafa;
}

header {
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

a {
  color: #0056d2;
  text-decoration: none;
}

section {
  margin-bottom: 30px;
}
